
<style>
    .bitbox{width:76px; border-right: 1px solid lightgrey; height:70px;  display:inline-block; 
               text-align:center; font-size:11px; margin:4px 3px 3px 3px; padding:4px;; }
    #slide-box{height:106px; width:100%; color:black;
                        display:inline-block; overflow:scroll; 
                        white-space:nowrap; overflow-x:scroll; overflow-y:hidden;}
    </style>
    <div id="slide-box">
    {% for dat in coins %}
        <div class="bitbox">
        {{dat.symbol }}<br>
            ${{ dat.quote.USD.price | floatformat:4 }}<br>
            <span style="{% if dat.quote.USD.percent_change_1h > 0 %}color:green;{% else %}color:red;{% endif %}">
                %{{ dat.quote.USD.percent_change_1h | floatformat:2  }}
            </span><br>
        </div>
    {% endfor %}
    </div>
    