
<hr style="margin:3px; !important">
<center>
    <div class="container row">
        <div class="col-4" style="border-right:1px solid lightgrey">
            <span style="font-size:10px"> My Balance</span>
            <br>${{ request.user.profile.balance }}
        </div>
        <div class="col-8 mt-2">
                <a href="{% url 'payment' %}">
                  <button class="btn btn-primary btn-sm ml-1 mb-1" style="border-radius:70px;">
                      Deposit
                  </button>
                </a>
                <a href="{% url 'withdraw' %}">
                  <button class="btn btn-danger btn-sm ml-1 mb-1" style="border-radius:70px;">
                      Withdraw
                  </button>
                </a>
        </div>
    </div>


</center>
<hr style="margin-top:3px; !important;margin-bottom:3px;!important">