{% load humanize %}
<hr style="margin:3px; !important">
<center>
    <div class="container row">
        <div class="col-4" style="border-right:1px solid lightgrey">
            <span style="font-size:10px"> My Balance</span>
            <br>${{ request.user.profile.balance | intcomma }}
        </div>
        <div class="col-8 mt-2">
                <a href="{% url 'payment' %}">
                   
                  <button class="btn btn-success btn-sm ml-1 mb-1" style="border-radius:78px;">
                    <b>Deposit</b>
                  </button>
                </a>
                <a href="{% url 'withdraw' %}">
                  <button class="btn btn-outline-dark btn-sm ml-1 mb-1" style="border-radius:78px;">
                      <b>Withdraw</b>
                  </button>
                </a>
        </div>
    </div>


</center>
<hr style="margin-top:3px; !important;margin-bottom:3px;!important">