    
<footer class="mt-5" style="height:auto;color: white; background-color:black; padding:15px; padding-bottom:25px;">
    <div style="float:right" class="mb-2">
          {% if request.user.is_authenticated %}
            <a href="{% url 'logout'%}?next={{ request.path}}">
                <span class="navmain btn btn-sm btn-danger">Logout</span>
            </a>
          {% else %}
            <a href="{% url 'signup'%}">
                <button class="btn btn-sm btn-warning mr-2"><b>Register</b></button>
            </a>
            <a href="{% url 'login'%}?next={{ request.path}}"  >
                <button class="btn btn-sm btn-info">Login</button>
            </a>
          {% endif %}
    </div><br>
    <br>
    <h6 style="font-weight: 600;">Email Newsletter</h6>
    <small>

    Subscribe to our newsletter!<br>
    <input placeholder="Email Address" ><a href="{% url 'home' %}"><button>submit</button></a><br><br>
    
    <div class="row">
        <div class="col-6">
            <h6 style="font-weight: 600; color: yellow;">Our Company</h6>
            <span style="font-size: 12px;">
                About<br>
                Contact us<br>
                FAQ<br>
                Donate<br>
                Contact Us<br><br>
            </span> 
        </div>
        <div class="col-6">
            <h6 style="font-weight: 600; color: yellow;">Our Services</h6>
            <span style="font-size: 12px;">
                Security<br>
                Contact us<br>
                FAQ<br>
                Donate<br>
                Contact developer<br><br>
            </span> 
         </div>
         </div>

</small>

    <center>

        <small style="font-size: 12px;" class="mt-1">
            <i class="fa fa-map-marker"></i> Creston, New York, USA<br>
       
            2021 &#169 Copyright Capital Phoenix
        </small>
    </center>
</footer>