<div class="carousel-inner">
    <div class="carousel-item active">
        <div id="carousel-card-sm">
<div id="car-pic-sm" >
    <span style="background-color:black; padding:2px; font-size:17px">
        Capital Phoenix provides an easy-to-use trading platform for crytocurrencies.
    </span>
</div>
    </div>
    </div>


    <div class="carousel-item">
        <div id="carousel-card-sm">
            <div>
    <span style="background-color:black; padding:2px; font-size:17px">
        Make money from the comfort of your home.
    </span>
            </div>
        </div>
    </div>

    <div class="carousel-item">
        <div id="carousel-card-sm">
            <div>
    <span style="background-color:black; padding:2px; font-size:17px">
        Make money from the comfort of your home.
    </span>
            </div>
        </div>
    </div>