<style>
    .list-group-item{border:none; border-bottom: 1px solid grey;}
</style>
<div>
    <h5 class="head mt-4">Our packages</h5>
<div class="my-4" style="border:1px solid brown; padding:10px; height:auto;width:100%; 
background-color:bisque; box-shadow:5px 5px 5px brown;">
    <div class="row">
        <div class="col-5" style="display:block; line-spacing:0.1em">
            <b class="ml-2">Bronze</b>
        </div>

        <div class="col-7 pl-2">
            <b style="font-size:20px;" class="ml-4">
                <sup><b>$</b></sup>1000</b><sub><i style="font-size:9px; ">365days</i></sub>
        </div>
    </div>
            <ul class="list-group m-1">
                <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:bisque">
                    <small>
                        <span class="pull-left">
                            Daily ROI
                        </span>
                        <span class="pull-right">
                            $10
                        </span>
                    </small>

                </li>
                <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:bisque">
                    <small>
                        <span class="pull-left">
                            Weekly ROI
                        </span>
                        <span class="pull-right">
                            $100
                        </span>
                    </small>

                </li>
                <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:bisque">
                    <small>
                        <span class="pull-left">
                            Monthly ROI
                        </span>
                        <span class="pull-right">
                            $500
                        </span>
                    </small>

                </li>
                <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:bisque">
                    <small>
                        <span class="pull-left">
                            Annual ROI
                        </span>
                        <span class="pull-right">
                            $6000
                        </span>
                    </small>

                </li>
            </ul>
            <center>
                <button class="btn btn-sm btn-danger">Purchase</button>
            </center>
        </div>
    </div>
    <div class="my-4" style="border:1px solid silver; padding:10px; height:auto;width:100%; 
     box-shadow:5px 5px 5px silver;">
        <div class="row">
            <div class="col-5" style="display:block; line-spacing:0.1em">
                <b class="ml-2">Silver</b>
            </div>
    
            <div class="col-7 pl-2">
                <b style="font-size:20px;" class="ml-4">
                    <sup><b>$</b></sup>2000</b><sub><i style="font-size:9px; ">365days</i></sub>
            </div>
        </div>
                <ul class="list-group m-1">
                    <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="">
                        <small>
                            <span class="pull-left">
                                Daily ROI
                            </span>
                            <span class="pull-right">
                                $10
                            </span>
                        </small>
    
                    </li>
                    <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="">
                        <small>
                            <span class="pull-left">
                                Weekly ROI
                            </span>
                            <span class="pull-right">
                                $100
                            </span>
                        </small>
    
                    </li>
                    <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="">
                        <small>
                            <span class="pull-left">
                                Monthly ROI
                            </span>
                            <span class="pull-right">
                                $500
                            </span>
                        </small>
    
                    </li>
                    <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="">
                        <small>
                            <span class="pull-left">
                                Annual ROI
                            </span>
                            <span class="pull-right">
                                $6000
                            </span>
                        </small>
    
                    </li>
                </ul>
                <center>
                    <button class="btn btn-sm btn-secondary">Purchase</button>
                </center>
            </div>


        <div class="my-4" style="background-color:gold;border:1px solid gold; padding:10px; height:auto;width:100%; 
        box-shadow:5px 5px 5px darkgoldenrod;">
           <div class="row">
               <div class="col-5" style="display:block; line-spacing:0.1em">
                   <b class="ml-2">Gold</b>
               </div>
       
               <div class="col-7 pl-2">
                   <b style="font-size:20px;" class="ml-4">
                       <sup><b>$</b></sup>5000</b><sub><i style="font-size:9px; ">2years</i></sub>
               </div>
           </div>
                   <ul class="list-group m-1">
                       <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:gold">
                           <small>
                               <span class="pull-left">
                                   Daily ROI
                               </span>
                               <span class="pull-right">
                                   $10
                               </span>
                           </small>
       
                       </li>
                       <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:gold">
                           <small>
                               <span class="pull-left">
                                   Weekly ROI
                               </span>
                               <span class="pull-right">
                                   $100
                               </span>
                           </small>
       
                       </li>
                       <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:gold">
                           <small>
                               <span class="pull-left">
                                   Monthly ROI
                               </span>
                               <span class="pull-right">
                                   $500
                               </span>
                           </small>
       
                       </li>
                       <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:gold">
                           <small>
                               <span class="pull-left">
                                   Annual ROI
                               </span>
                               <span class="pull-right">
                                   $6000
                               </span>
                           </small>
       
                       </li>
                   </ul>
                   <center>
                       <button class="btn btn-sm btn-dark">Purchase</button>
                   </center>
               </div>
   
   


<div class="my-4" style="border:1px solid :#A2FFDC; padding:10px; height:auto;width:100%; 
 background-color:#A2FFDC; box-shadow:5px 5px 5px cadetblue;">
           <div class="row">
               <div class="col-5" style="display:block; line-spacing:0.1em">
                   <b class="ml-2">Platinum</b>
               </div>
       
               <div class="col-7 pl-2">
                   <b style="font-size:20px;" class="ml-4">
                       1<sup><b>BTC</b></sup></b><sub><i style="font-size:9px;  ">5years</i></sub>
               </div>
           </div>
                   <ul class="list-group m-1">
                       <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:#A2FFDC;">
                           <small>
                               <span class="pull-left">
                                   Daily ROI
                               </span>
                               <span class="pull-right">
                                   $10
                               </span>
                           </small>
       
                       </li>
                       <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:#A2FFDC;">
                           <small>
                               <span class="pull-left">
                                   Weekly ROI
                               </span>
                               <span class="pull-right">
                                   $100
                               </span>
                           </small>
       
                       </li>
                       <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:#A2FFDC;">
                           <small>
                               <span class="pull-left">
                                   Monthly ROI
                               </span>
                               <span class="pull-right">
                                   $500
                               </span>
                           </small>
       
                       </li>
                       <li class="list-group-item p-0 pr-2 pl-2 mt-1 mb-1" style="background-color:#A2FFDC;">
                           <small>
                               <span class="pull-left">
                                   Annual ROI
                               </span>
                               <span class="pull-right">
                                   $6000
                               </span>
                           </small>
       
                       </li>
                   </ul>
                   <center>
                       <button class="btn btn-sm btn-primary">Purchase</button>
                   </center>
               </div>
           </div></div>
