<style>
    .test{border-radius:11px; width:90%; height:auto; padding:16px; border:none;
            background-color:bisque; color:black; font-size:14px;}
</style>
{% load static %}
<h5 class="mt-4 head">Testimonies</h5>
<div style="background-color:; padding:9px;">

    <div class="row mb-5">
        <div class="col-2">
            <div style="border:1px solid whitesmoke; height:50px; width:50px; border-radius:50%;
            background-image:url('{% static 'capping/azaman.jpeg' %}'); background-size:cover"></div>
        </div>
        <div class="col-10">
<div class="test">
<i class="fa fa-quote-left" style="font-size:24px; color:brown"></i>
    <br>
    <span class="ml-4 text-dark">Fuck you</span><br>
    <span class="ml-6"> - Aubrey Meyer</span>
        </div></div>
    </div>

    <div class="row mb-5">
        <div class="col-2">
            <div style="border:1px solid whitesmoke; height:50px; width:50px; border-radius:50%;
            background-image:url('{% static 'capping/azaman.jpeg' %}'); background-size:cover"></div>
        </div>
        <div class="col-10">
<div class="test">
<i class="fa fa-quote-left" style="font-size:24px; color:brown"></i>
    <br>
    <span class="ml-4 text-dark">Fuck you</span><br>
    <span class="ml-6"> - Aubrey Meyer</span>
        </div></div>
</div>
    </div>



</div>
