
<style>
  .icon{ font-size:23px; color:grey}
       </style>
<div style="height:50px; padding:13px; background-color:whitesmoke; width:100%;position:fixed;bottom:0;"
     class="navbar d-flex justify-content-between">
<a href="{% url 'home' %}">
  <i class="fa fa-dashboard icon"></i>
</a>
<a href="{% url 'trade' %}">
  <i class="fa fa-dollar icon"></i>
</a>
  <i class="fa fa-envelope-o icon"></i>

<a href="#">
  <i class="fa fa-bell-o icon"></i>
</a>
<a href="{% url 'settings' %}">
  <i class="fa fa-gear icon" style="color:black;"></i>
</a>

</div>

