 
<style>
        .green{color:green}
        .head{color:red; font-weight:600; }
{% block title %}{% endblock %}
</style>
{% load humanize %}
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'capping/style.css' %}">
</head>
<body >
{% include 'cap/nav/nav.html' %}


{% if user.is_authenticated %}

    {% include 'cap/feed.html' %}

{% else %}
{% include 'cap/nav/inslide.html' %}

<a id="about">
{% include 'cap/includes/why.html' %}
</a>
<div class="container mb-2" style=" ">
    <a id="services">
    {% include 'cap/includes/services.html' %}
    </a>
    
<br> 
        {% include 'cap/includes/get_started.html' %}<hr>
        <center><h5 class="mt-2" id="plans">Investment Packages</h5></center> 
        {% include 'cap/includes/plans.html' %}<br>
        <hr>
        {% include 'cap/includes/testimonies.html' %}
</div>
</div><br>
{% include 'cap/general_post_list.html' %}
            {% block content %} {% endblock %} 
           
            <h5 class="ml-3" id="sign">Create an account...</h5>
            {% include 'cap/signup.html' %}
            <br>
</body>
        {% include 'cap/includes/foot.html' %}


{% endif %}
</html>
