<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Capital phoenix Homepage</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Da+2" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
        .green{color:green}
        .head{color:red; font-weight:600; }
{% block title %}{% endblock %}
</style>
{% load humanize %}
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'capping/style.css' %}">
</head>
<body >
{% include 'cap/nav/nav.html' %}


{% if user.is_authenticated %}

    {% include 'cap/feed.html' %}

{% else %}
{% include 'cap/nav/inslide.html' %}

<a id="about">
{% include 'cap/includes/why.html' %}
</a>
<div class="container" style="padding:10px!important;">
    <a id="services">
    {% include 'cap/includes/services.html' %}
    </a>
<br>
<div class="container" >
        {% include 'cap/includes/get_started.html' %}<hr>
        {% include 'cap/includes/plans.html' %}<br><hr>
        {% include 'cap/includes/testimonies.html' %}
</div>
</div>
{% include 'cap/general_post_list.html' %}
            {% block content %} {% endblock %}
</body>
        {% include 'cap/includes/foot.html' %}


{% endif %}
</html>
