{% load static %}<style>

    .titbox{width:100px; border: none; height:100px;  display:inline-block; background-color:whitesmoke;
                border-radius:50%; text-align:center; font-size:12px; margin:4px 3px 3px 3px; padding-top:22px;
             box-shadow:3px 3px 3px grey; margin-right:10px;}
    .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.fa-arrow-right{color:green}
                </style>

    {% include 'cap/nav/nav.html' %}
    
<div class="container my-3">
  <h5 style="display:inline-block">Withdraw</h5>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
  <span style="cursor:pointer" onclick="openNav()">
     
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 384.97 384.97" style="enable-background:new 0 0 384.97 384.97; width:30px; float:right" xml:space="preserve">
  <g>
    <g id="Menu_1_">
      <path d="M12.03,120.303h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03
        c-6.641,0-12.03,5.39-12.03,12.03C0,114.913,5.39,120.303,12.03,120.303z"/>
      <path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03
        S379.58,180.455,372.939,180.455z"/>
      <path d="M372.939,264.667H132.333c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h240.606
        c6.641,0,12.03-5.39,12.03-12.03C384.97,270.056,379.58,264.667,372.939,264.667z"/>
    </g>
    
  </svg></span>
  
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "200px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>
  
</div>

{% include 'cap/includes/cashbar.html' %}
<div class="container">
    <h5 class="mt-3 text-center">Enter your card details</h5>
    <form method="POST" class="form-group" style="font-size:14px">
      {% csrf_token %}
      <span>Name on card:</span>
      <input type="text" name="{{ form.name.html_name }}" placeholder="{{ form.name.html_name }}" id="log" class="w-100 mb-3">
      <span>Card number:</span>
      <input type="text" name="{{ form.cc_number.html_name }}" placeholder="card number" id="log" class="w-100 mb-4">
      
      <div class="row">
        <div class="col-6">
          <span>Card expiry date</span>
          <input type="text" name="{{ form.cc_expiry.html_name }}" placeholder="11/12" id="log" class="mb-1 w-40">
        </div>
        <div class="col-6">
          <span>cvv</span>
          <input type="text" name="{{ form.cc_code.html_name }}" placeholder="123" id="log" class="mb-1 w-40">
        </div>
      </div>
      <br>
      <span>Withdrawal amount:</span>
      <input type="text" name="{{ form.name.html_name }}" placeholder="$" id="log" class="w-80 mb-3">
      
      
      
      
      <center>
        <input type="submit" class="btn btn-info btn-sm my-4" value="Submit"><br>
        <img src="{% static 'capping/visa.svg' %}" style="height: 47px;">
        <img src="{% static 'capping/mastercard.svg' %}" style="height: 47px;">
        <img src="{% static 'capping/american-express.svg' %}" style="height: 47px;">
        <img src="{% static 'capping/discover.svg' %}" style="height: 47px;">
      </center>




    </form>
    </div>